<div class="container-fluid">
    <div class="row">

        <div class="col-4" id="c1">
                    <a routerLink="/acceuil"> <img src="../../assets/image/blanclogo.png" id="img1" alt="logo"  /></a> <br><br><br><br>
               
                    <p > Tell us about your <br><br> training center</p> <br><br><br><br><br>
                    <p  >Tell us about your <br> <br> services</p> <br><br><br><br><br>
                
                    <p >Add Training</p><br><br><br><br><br>
                    <p >Payment</p><br><br><br>
                    
                     
                      
                    

            
        </div>
        
        

       
         <div class="col " id="c2">
            <h1 class="mt-3"><b>   Create Account</b></h1>
             
            
         </div>
         
         <img src="../../assets/image/cercle.png" alt="logo" id="img2" />

    </div>
   
</div>
